<div class="invite">
  <main>
<h4>Invite Your Github Friends!</h4>
  <section>
    <%= form_tag('/invite', method: 'post') do %>
      <div >
        <%= label_tag :github_handle %>
        <%= text_field_tag :github_handle, class: "block col-12 field" %>
      </div>
      <%= submit_tag 'Submit', class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>
  </section>
  </main>
</div>
