---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <AT_2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1553378111'
      Etag:
      - W/"1196554cf9fd3868384c3fa0d27076ca"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":176369597,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzNjk1OTc=","name":"brownfield-of-dreams","full_name":"juliamarco/brownfield-of-dreams","private":false,"owner":{"login":"juliamarco","id":35079289,"node_id":"MDQ6VXNlcjM1MDc5Mjg5","avatar_url":"https://avatars1.githubusercontent.com/u/35079289?v=4","gravatar_id":"","url":"https://api.github.com/users/juliamarco","html_url":"https://github.com/juliamarco","followers_url":"https://api.github.com/users/juliamarco/followers","following_url":"https://api.github.com/users/juliamarco/following{/other_user}","gists_url":"https://api.github.com/users/juliamarco/gists{/gist_id}","starred_url":"https://api.github.com/users/juliamarco/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/juliamarco/subscriptions","organizations_url":"https://api.github.com/users/juliamarco/orgs","repos_url":"https://api.github.com/users/juliamarco/repos","events_url":"https://api.github.com/users/juliamarco/events{/privacy}","received_events_url":"https://api.github.com/users/juliamarco/received_events","type":"User","site_admin":false},"html_url":"https://github.com/juliamarco/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams","forks_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/juliamarco/brownfield-of-dreams/deployments","created_at":"2019-03-18T21:07:05Z","updated_at":"2019-03-23T21:00:14Z","pushed_at":"2019-03-23T21:00:50Z","git_url":"git://github.com/juliamarco/brownfield-of-dreams.git","ssh_url":"git@github.com:juliamarco/brownfield-of-dreams.git","clone_url":"https://github.com/juliamarco/brownfield-of-dreams.git","svn_url":"https://github.com/juliamarco/brownfield-of-dreams","homepage":"","size":469,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":31,"license":null,"forks":0,"open_issues":31,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":169430620,"node_id":"MDEwOlJlcG9zaXRvcnkxNjk0MzA2MjA=","name":"little_shop","full_name":"plapicola/little_shop","private":false,"owner":{"login":"plapicola","id":41562392,"node_id":"MDQ6VXNlcjQxNTYyMzky","avatar_url":"https://avatars1.githubusercontent.com/u/41562392?v=4","gravatar_id":"","url":"https://api.github.com/users/plapicola","html_url":"https://github.com/plapicola","followers_url":"https://api.github.com/users/plapicola/followers","following_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <AT_2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1553378111'
      Etag:
      - W/"174bad[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <AT_2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1553378111'
      Etag:
      - W/"432797[...]
